@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold my-6 prose-sm;
  }
  h2 {
    @apply font-bold my-5 prose-sm;
  }
  h3 {
    @apply font-bold my-4 prose-sm;
  }
  h4 {
    @apply font-bold my-3 prose-sm;
  }
  p {
    @apply text-justify prose-sm;
  }
  button {
    @apply prose-sm;
  }

  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  ul,
  ol {
    @apply my-4;
  }
  li {
    @apply my-2 prose-sm;
  }
}
.text-indent {
  text-indent: 1.5rem;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-typing {
  overflow: hidden;
  display: inline-block;
  animation: typing 2s steps(60) 1s normal both;
}
